.footer {
  padding: 50px 0 0;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(4, 8, 2, 0.2) 30%,
      rgba(89, 190, 41, 0.2) 50%,
      rgba(4, 8, 2, 0.2) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin: 86px -50px 0 -75px;
    align-items: flex-start;
  }

  &__col {
    padding: 0 50px 0 75px;
  }

  &__logo {
    line-height: 0;
    padding-bottom: 26px;

    img {
      max-width: 164px;
      max-height: 65px;
    }
  }

  &__info {
    font-size: 16px;
    opacity: 0.8;
  }

  &__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.4;
    color: $black;
    padding-bottom: 30px;
  }

  &__item {
    display: flex;
    position: relative;
    margin: 0 -42px;

    &-col {
      width: 50%;
      display: inline-block;
      letter-spacing: normal;
      padding: 0 42px;
    }

    &-nav {
      padding-bottom: 10px;
      font-size: 16px;
    }

    &-link {
      font-size: 16px;
      &:hover {
        color: $green;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin: -22px 0 0 -12px;

    &-item {
      padding-right: 25px;
      &:last-child {
        padding-right: 0;
      }
    }

    &-link {
      margin: 0;
      & img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__img {
    position: relative;
    left: 2%;
    max-width: 201px;
    max-height: 245px;
    margin-left: -77px;
  }
}
